.promo {
	position: relative;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 32px);
	padding-top: 45px;
	padding-bottom: 34px;

	&__bg {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
		&::before {
			background: #234585 url(./../img/promo-bg.jpg) no-repeat fixed center;
			background-size: cover;
			animation: zoom 10s ease infinite alternate;
		}
		&::after {
			background: rgba(32, 32, 32, .6) url(../img/pattern_dots.png);
		}

		@keyframes zoom {
			to {
				transform: scale(1.3)
			}
		}
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;

	}

	&::before {
		height: 6vw;
		background: url(./../img/bg-triangle-bottom.svg) top center no-repeat;
		background-size: 103% 103%;
		z-index: 1;
	}

	&::after {
		background-color: $black;
		opacity: .5;
	}

	&__text {
		position: relative;
		z-index: 1;
		padding-right: 15px;
		padding-left: 15px;
		text-align: center;
		margin: auto;
		color: $white;

	}

	&__title {
		position: relative;
		@extend .txt-promo--lg;
		margin-top: 0;
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;

		@media (min-width: $md) {
			margin-bottom: 3rem;
			padding-bottom: 3rem;
		}

		span {
			display: block;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			width: 50px;
			height: 2px;
			margin-right: auto;
			margin-left: auto;
			background-color: $primary;

			@media (min-width: $md) {
				width: 100px;
			}
		}
	}

	&__subtitle {
		@extend .txt-promo--nm;
	}

	.promo__desc {
		padding-right: 15px;
		padding-left: 15px;
		font-size: 1rem;

		@media (min-width: $md) {
			font-size: 1.2rem;
		}
	}

	&__bottom-text {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		color: $pale-grey;
	}

	&__bottom-circle {
		position: absolute;
		bottom: -32px;
		left: 50%;
		width: 64px;
		height: 64px;
		margin-left: -32px;
		border: 5px solid rgba($black-2, .05);
		border-radius: 50%;
		background-color: $pale-grey;
		z-index: 1;
		animation: rotation 1.5s linear infinite;

		&::before {
			content: '';
			position: absolute;
			top: 5px;
			left: 50%;
			width: 34px;
			height: 34px;
			margin-left: -17px;
			background: url(./../img/propeller.svg) center no-repeat;
		}
	}

	@keyframes rotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}

.header {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	height: 60px;
	z-index: 3;
	transition: .35s, box-shadow 250ms;

	@media (min-width: $md) {
		height: 70px;
	}

	&--color {
		background-color: $black-2;
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	}
	&__inner {
		@extend .wrapper;
		display: flex;
		justify-content: space-between;

		@media (min-width: $md) {
			align-items: center;
		}
	}
	&__logo {
		display: flex;
		height: 60px;

		@media (min-width: $md) {
			height: 70px;
		}
	}
}

.logo {
	&__img {
		margin: auto;
		height: 34px;
		width: auto;
	}

	&__text {
		margin: auto 10px;
		font-size: 18px;
		font-weight: bold;
		line-height: 1;
		color: $primary;
		div {
			transform: translateX(-12px);
		}
	}

	@media (min-width: $md) {
		&__img{
			height: 46px;
		}

		&__text {
			font-size: 26px;
			div {
				transform: translateX(-16px);
			}
		}
	}
}

.menu {
	position: relative;

	&--show {
		overflow: hidden;

		.header {
			background-color: $black-2;
			@media (min-width: $md) {
				&:not(.header--color) {
					background-color: transparent;

				}
			}
		}

		.header--color {
			background-color: $black-2;
		}

		.menu__toggle-line {
			background-color: transparent;
			&::before {
				transform: rotate3d(0, 0, 1, 45deg);
			}
			&::after {
				transform: rotate3d(0, 0, 1, -45deg);
			}
			&::before,
			&::after {
				top: 0;
				transition: top .3s, transform .3s .5s;
			}
		}
		.menu__dropdown {
			opacity: 1;
			visibility: visible;
		}
		.menu__list {
			opacity: 1;
			transform: none;
		}
		.menu__toggle {
			position: fixed;
			right: 0;
		}

		@media (min-width: $md) {
			overflow: auto;
		}
	}

	&__toggle {
		position: absolute;
		top: 0;
		right: -15px;
		width: 60px;
		height: 60px;
		padding: 15px;
		font-size: 0;
		background-color: transparent;
		border: none;
		z-index: 20;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	&__toggle-line {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 3px;
		vertical-align: bottom;
		background-color: $pale-grey;
		transition: background .3s .5s;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			height: 3px;
			background-color: $pale-grey;
			transform-origin: 50% 50%;
			transition: top .3s .3s, transform .3s;
		}

		&::before {
			top: 10px;
		}

		&::after {
			top: -10px;
		}
		@media (min-width: $md) {
			display: none;
		}
	}

	&__dropdown {
		display: flex;
		position: fixed;
		top: 60px;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 20;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 60px;
		visibility: hidden;
		opacity: 0;
		overflow-y: auto;
		background: linear-gradient(to bottom, $black-2, #6b6b6b);
		transition: .20s opacity;

		@media (min-width: $md) {
			position: relative;
			top: auto;
			padding: 0;
			visibility: visible;
			opacity: 1;
			background: transparent;
		}

	}

	&__list {
		margin: auto;
		padding: 0;
		list-style-type: none;
		opacity: 0;
		transform: translateY(200px);
		transition: opacity .25s .25s, transform .5s;

		@media (min-width: $md) {
			text-align: right;
			transform: none;
			opacity: 1;
			transition: none;
		}
	}

	&__item {
		@media (min-width: $md) {
			display: inline-block;
			margin: 0 10px;
			vertical-align: top;

			&:last-child {
				margin-right: 0;
			}
		}

		@media (min-width: $lg) {
			margin: 0 15px;
		}
	}
	&__link {
		position: relative;
		display: inline-block;
		padding: 0 10px;
		font-size: 20px;
		line-height: 2.5;
		text-transform: capitalize;
		color: $pale-grey;
		text-decoration: none;
		letter-spacing: 1.2px;
		transition: .5s;

		&::before {
			content: '';
			position: absolute;
			background-color: $pale-grey;
			right: 10px;
			left: 10px;
			bottom: 10px;
			height: 1px;
			transform: scaleX(0);
			transform-origin: right top;
			transition: transform .3s ease-in-out;

		}

		@media (min-width: $md) {
			padding: 0;
			font-size: 12px;
			text-transform: uppercase;
			line-height: 60px;
			letter-spacing: normal;

			&::before {
				right: 0;
				left: 0;
				bottom: 12px;
			}
		}
		@media (min-width: $lg) {
			font-size: 14px;
		}

		&:hover {
			&::before {
				transform-origin: left top;
				transform: scale(1);
			}
		}

		&:active {
			color: darken($primary, 10%);

			&::before {
				background: darken($primary, 10%);
			}
		}
		&--active {
			color: $primary;

			&::before {
				background-color: $primary;
				transform-origin: left top;
				transform: scale(1);
			}

			&:hover {
				color: $primary;

				&::before {
					background-color: $primary;
				}
			}

		}
	}
}