.promo
  header.header.js-menu
    .header__inner
      .header__logo.logo
        img.logo__img(src='img/logo.svg' alt='MPS')
        div.logo__text <div>MPS</div>DEVELOPMENT
      nav.menu
        button(type='button' class='menu__toggle js-btn-menu') show/hide menu
          span.menu__toggle-line
        .menu__dropdown
          ul.menu__list
            li.menu__item
              a(class='menu__link js-scrollto', href="#about") About
            li.menu__item
              a(class='menu__link js-scrollto', href="#services") Services
            li.menu__item
              a(class='menu__link js-scrollto', href="#portfolio") Portfolio
            li.menu__item
              a(class='menu__link js-scrollto', href="#team") Team
            li.menu__item
              a(class='menu__link js-scrollto', href="#contact") Contact
  section.promo__text
    p.promo__subtitle Professional software engineering services
    h1.promo__title Welcome to
      span MPS development
    .promo__bottom-text
      h2.promo__desc Software development for companies and startups
      p.promo__sub-desc Java / Angular Teams
  .promo__bottom-circle
  .promo__bg