.promo
  header.header
    .header__inner
      .header__logo
        img(src='../img/logo.svg', width='120', height='35', alt='MPS Development')
      nav.menu
        button(type='button' class='menu__toggle js-btn-menu') show/hide menu
          span.menu__toggle-line
        .menu__dropdown
          ul.menu__list
            li.menu__item
              a(class='menu__link menu__link--active', href="#about") About
            li.menu__item
              a(class='menu__link', href="#") Team
            li.menu__item
              a(class='menu__link', href="#services") Services
            li.menu__item
              a(class='menu__link', href="#") Portfolio
            li.menu__item
              a(class='menu__link', href="#") Contact
  section.promo__text
    p.promo__subtitle Professional software engineering services
    h1.promo__title Welcome to
      span MPS development
    .promo__bottom-text
      h2.promo__desc Software development for companies and startups
      p.promo__sub-desc Java / Angular Teams
  .promo__bottom-circle
  .promo__bg