.promo {
	position: relative;
	padding-bottom: 40px;
	background: lightpink;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100vw;
		height: 40px;
		background: url(./../img/bg-triangle-bottom.svg) top center no-repeat;
		background-size: auto 100%;
		z-index: 2;
	}
}