.about {
	@extend .bb--grey-2, .bg--white;

	&-wrap {
		@extend .wrapper, .section-gap;
	}

	&__img {

		&-wrap {
			width: 100%;
			max-width: 505px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2rem;
		}

		width: 100%;
		height: auto;
		display: block;
	}

	&__content {
		width: 100%;
		max-width: 600px;
		margin-right: auto;
		margin-left: auto;
	}

	&__title {
		@extend .title-section, .color--brownish-grey;
		position: relative;
		padding-left: 2.25rem;

		&::before {
			@extend .bg--primary;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 6px;
		}
	}

	&__txt {
		@extend .txt-nm, .color--warm-grey;
	}

	&__list {
		@extend .txt-nm, .color--warm-grey;
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	&__btn {

		@extend .btn;

		&::before {
			content: '';
			display: inline-block;
			width: 1.25rem;
			height: 3rem;
			vertical-align: middle;
			margin-right: 8px;
			background-image: url('../img/AdobePDF_icon.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}


	@media (min-width: $md) {
		&-wrap {
			display: flex;
		}

		&__content {
			padding-left: 1.2821%;
		}

		&__img {

			margin-top: auto;
			margin-bottom: auto;

			&-wrap {
				margin-bottom: 0;
				display: flex;
				width: 42.735%;
				margin-left: 0;
			}
		}

		&__content {
			width: 51.2821%;
			margin-right: 0;
		}
	}

	@media (min-width: $lg) {
		&__img-wrap,
		&__content {
			width: 100%;
		}
	}


}