article.about#about
	.about-wrap
		.about__img-wrap
			img.about__img(src="img/about.png", alt="Abou Us")
		.about__content
			h2.about__title About&nbsp;us
			p.about__txt We&nbsp;follow modern approaches to&nbsp;minimize solution cost and improve overall quality:
			ul.about__list
				li.about__item Automated software testing
				li.about__item Prototyping
				li.about__item UI/UX
				li.about__item Agile (Scrum, Kanban) and Waterfall methodologies
				li.about__item MVP Development
				li.about__item Postproduction support
				li.about__item Employee training
				li.about__item User and administrator documentation
			a.about__btn(href='assets/MPSCompanyPresentationWEB.pdf' target='_blank') Presentation