.contact {
	@extend  .bg--pale-grey;

	&-wrap {
		@extend .wrapper, .section-gap;
	}

	&__title {
		@extend .title-section, .color--brownish-grey;
		text-align: center;
	}

	&__txt {
		@extend .txt-nm, .color--warm-grey, .content-max-width;
	}

	&__content {
		width: 100%;
		@extend .content--underlined;
	}

	&__address {
		margin-bottom: 35px;
	}

	@media (min-width: $md) {

		&-wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__address {
			margin-bottom: 0;
		}
	}
}

.address,
.form-wrap {

	max-width: 475px;

	margin-left: auto;
	margin-right: auto;

	@extend .bg--white, .shadow-contact;
	padding: 50px 30px;

	@media (min-width: $md){
		margin-left: initial;
		margin-right: initial;
		padding-top: 100px;
		padding-bottom: 100px;
	}
}


.address {

	&__title {
		@extend .subtitle-contact;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 4.375rem;
		}
	}

	&__tel {
		transition: all .3s ease;

		&:hover,
		&:focus {
			color: lighten($primary, 10%);
			outline: none;
		}
	}

	@media (min-width: $md){
		width: 40.5981%;
		padding-left: 90px;
		padding-right: 90px;
	}
}

.form {

	&-wrap {
		@media (min-width: $md){
			width: 56.8376%;
			max-width: 665px;
			padding-left: 100px;
			padding-right: 100px;
		}
	}

	&__label {
		@extend .txt-form;
		display: block;
		margin-bottom: .75rem;
	}

	&__input-title {
		position: relative;
		z-index: 1;
		line-height: 14px;
		display: inline-block;
		width: 100%;
		transform: translateY(10px);
		transition: all .3s ease-in-out;

		&--focused {
			font-size: 13px;
			transform: translateY(0);
			color: $primary;
		}
	}



	&__input {
		position: relative;
		z-index: 2;
		background-color: transparent;
		@extend .txt-form;
		font-weight: 300;
		display: inline-block;
		width: 100%;
		border: 0;
		border-bottom: solid 0.5px $warm-grey;
		outline: 0;
		transition: all .3s ease-in-out;

		&--focused{
			border-bottom-color: $primary;
		}
	}

	&__message {
		// min-width: 100%;
		// max-width: 100%;
		// min-height: 96px;
		height: 96px;
		resize: none;
		// max-height: 96px;
	}

	&__btn {
		@extend .btn;
	}
}