doctype html
html(lang="ua")
	head
		meta(charset="UTF-8")
		meta(name="keywords", content="")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		-//Chrome Firefox Opera
		meta(name="theme-color", content="#4C8CF5")
		-//Windows Phone
		meta(name="msapplication-navbutton-color", content="#4C8CF5")
		-//Apple
		meta(name="apple-mobile-web-app-status-bar-style", content="#4C8CF5")
		link(rel="shortcut icon", href="img/fav.png")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:300,400,600,700" rel="stylesheet")
		link(href="css/style.min.css", rel="stylesheet")
	body
		include ../app/promo/_promo.pug
		main
			include ../app/about/_about.pug
			include ../app/services/_services.pug
			include ../app/technology/_technology.pug
			include ../app/works/_works.pug
			include ../app/team/_team.pug
			include ../app/partners/_partners.pug
			include ../app/contact/_contact.pug
		include ../app/footer/_footer.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/script.min.js")