section.partners
  .partners__inner
    h2.partners__title Our partners
    ul.partners__list.js-partners-slider
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")
      li
        a(href="#" class="partners__link")
          img(src="http://via.placeholder.com/350x150")