.welcome
  section.welcome__text
    p.welcome__subtitle Professional software engineering services
    h1.welcome__title Welcome to
      span MPS development
    .welcome__bottom-text
      h2.welcome__desc Software development for companies and startups
      p.welcome__sub-desc Java / Angular Teams
  .welcome__bottom-circle
  .welcome__bg