.services {

	&-wrap {
		@extend .wrapper, .section-gap;
	}

	&__title {
		@extend .title-section, .color--brownish-grey;
		position: relative;
		padding-right: 2.25rem;
		text-align: right;

		&::after {
			@extend .bg--primary;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 6px;
		}
	}
}