article.slogan
	.slogan-wrap
		.content--underlined
			h2.slogan__title.txt--bold We&nbsp;bring your ideas to&nbsp;life
			p.slogan__txt Our mission is&nbsp;to&nbsp;help our clients to&nbsp;achieve success. With team of&nbsp;experienced developers, analysts, managers, Quality Assurance engineers and consultants, we&nbsp;build optimal solutions to&nbsp;support client business.
		h3.slogan__subtitle Lets Get Started!