section.project
  .project__header
    .wrapper.content--underlined
      h1.project__title Project name
      p.project__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum eius iure libero nostrum numquam sed sunt voluptas? A, commodi doloremque dolores illum laborum libero pariatur saepe sequi similique voluptatibus.
  .project__content
    .project__column
      h3 Features
      ul
        li HTML video player
        li Video stream encryption
        li On-fly video decryption
        li Removable media copy protection
        li Online update of media-content
    .project__column
      h3 Skills & expertise
      .project__skils
        strong front-end:
        ul
          li AngularJS 1.5
          li AngularJS 2
          li HTML 5
          li CSS3
          li Bootstrap3
          li Create JS
      .project__skils
        strong backend:
        ul
          li Java
          li Hibernate
          li Spring
          li Maven
          li Log4J
    .project__gallery


