//grid and main styles

.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
	max-width: $lg;
}

.section-gap {
	padding-top: 70px;
	padding-bottom: 70px;

	@media (min-width: $md) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@media (min-width: $lg) {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.4;

	@media (min-width: $md) {
		font-size: 16px;
	}

}

body {
	min-width: 320px;
	margin: 0 auto;
}



//colors, borders
.color--primary {
	color: $primary;
}

.color--white {
	color: $white;
}

.color--brownish-grey {
	color: $brownish-grey;
}

.color--pale-grey {
	color: $pale-grey;
}

.color--pinkish-grey {
	color: $pinkish-grey;
}

.color--warm-grey {
	color: $warm-grey;
}

.color--warm-grey-075 {
	color: $warm-grey-075;
}

//backgrounds
.bg--primary {
	background-color: $primary;
}

.bg--white {
	background-color: $white;
}

.bg--black-2 {
	background-color: $black-2;
}

.bg--pale-grey {
	background-color: $pale-grey;
}

// border
.bb--grey-2 {
	border-bottom: 1px solid $pale-grey-2;
}

.bb--silver {
	background-color: 1px solid $silver;
}

//shadows
.shadow-form {
	box-shadow: 0px 5px 5px 0 $black-010;
}

.shadow-contact {
	box-shadow: 0px 3px 5px 0 $black-010;
}

.shadow-partners {
	box-shadow: 0px 1px 3px 0 $black-009;
	transition: all .3s ease-in-out;

	&:hover,
	&:focus {
		box-shadow: 0px 3px 9px 1px $black-030;
	}
}



//typograohy
p {
	margin-top: 0;
	margin-bottom: .875rem;
}

.txt-promo--lg {
	@extend .color--pale-grey;
  font-weight: bold;
  text-align: center;
	font-size: 1.65rem;
	letter-spacing: 3.5px;
	line-height: 1.5;

	@media (min-width: $md) {
		font-size: 4.5rem;
		letter-spacing: 7.2px;
	}
}

.txt-promo--nm {
	@extend .color--pale-grey;
  font-family: $font-secondary;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  text-align: center;
}

.txt-promo--sm {
	@extend .color--pinkish-grey;

  text-align: center;
	font-size: 1.2rem;
	letter-spacing: 1.2px;
	@media (min-width: $md) {
		font-size: .875rem;
		line-height: 1.71;
	}
}

.title-section {
	font-family: $font-secondary;
	font-size: 2.25rem;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 1.25rem;
}

.subtitle-contact {
	@extend .color--primary;
	font-family: $font-secondary;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.sumbtitle-services {
	@extend .color--primary;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}

.txt-contact {
	@extend .color--warm-grey;
  font-size: 1.125rem;
  line-height: 1.33;
}

.txt-nm {
	font-size: 1rem;
	line-height: 2.07;

	@media (min-width: $md) {
		font-size: .875rem;
	}
}

.txt-nm--light {
	@extend .color--warm-grey;
	font-family: $font-secondary;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 1.1px;

	@media (min-width: $md) {
		font-size: .875rem;
	}
}

.txt-footer {
	@extend .color--warm-grey-075;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.71;
}

.txt-form {
	@extend .color--warm-grey;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.71;
}

.txt-nav {
	@extend .color--pale-grey;
  font-size: .875rem;
}

.txt-nm {
	font-size: .875rem;
	line-height: 2.07;
}

.txt--sm {
	@extend .color--warm-grey;
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 0.9px;
}

.txt--bold {
	font-weight: 600;
}

//buttons
.btn {
	@extend .bg--primary, .color--white;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
  font-size: .875rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
	line-height: 4;
	padding-left: 2.25rem;
	padding-right: 2.25rem;
	outline: none;
	border: none;
	box-shadow: 0px 2px 4.8px 0.3px $black-025;
	border-radius: 4px;
	transition: all .2s ease-in-out;

	&:hover,
	&:focus {
		background-color: $hover-color;
	}

	&:active{
		background-color: $active-color;
	}

}