article.works#portfolio
  .wrapper.content--underlined
    h2.works__title our latest works
    p.works__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum libero quidem a recusandae. Culpa, error dicta, in mollitia odio nemo soluta, suscipit iste esse quae quas iure laboriosam accusamus, illum.
  .works__list
    mixin worksItem(worksUrl, worksName, woksDesc, worksImg, worksImgAlt)
      a.works__item(href= worksUrl)
        .works__content
          h3.works__name= worksName
          p.works__desk= woksDesc
        img.works__img(src= worksImg, alt= worksImgAlt)

    +worksItem(
      '#',
      'Cloud-based push notification platform',
      'lorem',
      'img/works/1.png',
      'Cloud-based push notification platform'
    )
    +worksItem(
      '#',
      'Cloud-based push notification platform',
      'lorem',
      'img/works/2.png',
      'Cloud-based push notification platform'
    )
    +worksItem(
      '#',
      'Cloud-based push notification platform',
      'lorem',
      'img/works/3.png',
      'Cloud-based push notification platform'
    )
    +worksItem(
      '#',
      'Cloud-based push notification platform',
      'lorem',
      'img/works/4.png',
      'Cloud-based push notification platform'
    )
    +worksItem(
      '#',
      'Cloud-based push notification platform',
      'lorem',
      'img/works/5.png',
      'Cloud-based push notification platform'
    )
    +worksItem(
      '#',
      'Cloud-based push notification platform',
      'lorem',
      'img/works/6.png',
      'Cloud-based push notification platform'
    )
    +worksItem(
      '#',
      'Cloud-based push notification platform',
      'lorem',
      'img/works/7.png',
      'Cloud-based push notification platform'
    )
    +worksItem(
      '#',
      'Cloud-based push notification platform',
      'lorem',
      'img/works/8.png',
      'Cloud-based push notification platform'
    )